{% extends 'base.html.twig' %}

{% block title %}Rate CourseWork{% endblock %}

{% block body %}
    <h1>Rate CourseWork</h1>

    {{ include('course_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('course_work_index', {'course': course.id}) }}">back to list</a>
{% endblock %}
